@import '@/styles/color-variables.scss';

.primary-btn{
    background-color: $primary;
    color: $light-font;
    padding: 0.5rem;
    width: 10rem;
    border: none;
    border-radius: 5px;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    cursor: pointer;
}