@import '@/styles/color-variables.scss';

main{
    margin: 0 auto;
    min-height: 100dvh;
    max-width: 768px;
    position: relative;
}

.welcome-section{
    font-size: 2.25rem;
    text-align: end;

    font-weight: 700;

.logo{
    border-bottom: 10px solid #913693;
    width: 30%;

    p{
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px $primary;
        -webkit-font-smoothing: antialiased;
    }

}

span{
    font-size: 4.5rem;
    font-family: 'Racing Sans One', Arial, Helvetica, sans-serif;

    -webkit-text-fill-color: #E856EB;
    -webkit-text-stroke: 1px $primary;
}

}

.fade-in {
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
}

@keyframes fadeIn{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}