@import '@/styles/color-variables.scss';

.loginform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

input {
    width: 80%;
    padding: 0.75rem 1.25rem;
    margin: 0.5rem 0rem;
    border: none;
    outline: none;
}

input:focus {
    background-color: $secondary;
}

.form-error{
    color: red;
}