.search-form{
    padding: 1rem;
    svg{
        width: 2rem;
        position: absolute;
        right: 40px;
        top: 100px;
    }
}

input[type=search] {

    position: relative;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 16px;
    background-color: #c4c4c480;
    padding: 1rem 1.2rem 1rem 2.5rem;
}