@use '@/styles/color-variables.scss' as *;

.primary-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary;
    padding: 1rem 2rem;
    color: $dark-font;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    a{
        border: 1px solid $dark-font;
        border-radius: 20px;
        padding: 0.5rem;

        &:hover{
            background-color: #e1a1e969;
        }

        svg{
            display: flex;
            vertical-align: text-top;
        }
    }
}