@use '@/styles/font-mixins.scss' as *;

.activity-details{
    width: 100%;
    padding: 1rem;

    h1{
        @include main-heading(1.5rem);
    }
}

.activity-header{
    position: relative;
    width: clamp( 320px, 100%, 768px ); 
    height: clamp( 320px, 100vw, 768px );
    // margin: 0rem auto;
}

.activity-btn{
    position: absolute;
    bottom: 9;
    right: 9;
}